@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #363335;
  }
}

button {
  background-color: #ed5d38;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  border-radius: 1px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button.hover {
  padding: 12px 20px;
  cursor: pointer;
  float: right;
}
.button:disabled {
  cursor: not-allowed;
}
.active {
  display: none;
}
.inActive {
  background-color: #ed5d38;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  cursor: not-allowed;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button-transparent{
  background-color: transparent;
  color: #363335;
  font-size: 16px;
}
